name: RBC460 Tracker

on:
  schedule:
    - cron: "0 3 * * *"   # 23:00 по Торонто = 03:00 UTC
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install requests beautifulsoup4 pandas openpyxl lxml

      - name: Run tracker
        env:
          EMAIL_SENDER: ${{ secrets.EMAIL_SENDER }}
          EMAIL_PASSWORD: ${{ secrets.EMAIL_PASSWORD }}
          EMAIL_RECEIVER: ${{ secrets.EMAIL_RECEIVER }}
        run: |
          python tracker.py

      - name: Save Excel
        uses: actions/upload-artifact@v4
        with:
          name: rbc460-excel
          path: rbc460_prices.xlsx
